@model Shopping_Site.Models.Battery
@using Shopping_Site.Models

<br />
<div class=" d-flex justify-content-center">
    <h3>Add new Battery</h3>
</div>
<br />

<div class=" d-flex justify-content-center">
    @using (Html.BeginForm(actionName: "New", controllerName: "Battery", method: FormMethod.Post))
    {

        @Html.LabelFor(b => b.Name)
        <br />
        @Html.TextBoxFor(b => b.Name, null, new { placeholder = "Type in the battery's name", @class = "form-control" }) @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(b => b.Capacity)
        <br />
        @Html.TextBoxFor(b => b.Capacity, null, new { placeholder = "Type in the battery's capacity", @class = "form-control" }) @Html.ValidationMessageFor(b => b.Capacity, "", new { @class = "text-danger" })
        <br />

      


        <button class="btn btn-primary" type="submit">Create</button>
    }
</div>



